body {
    padding: 50px;
    font:
        28px "Lucida Grande",
        Helvetica,
        Arial,
        sans-serif;
    background-color: aliceblue;
}

a {
    font-size: 20px;
    color: #400741;
}