body {
    padding: 50px;
    font:
        28px "Lucida Grande",
        Helvetica,
        Arial,
        sans-serif;
    background-color: aliceblue;
}

a {
    font-size: 20px;
    color: #1d49cd;
}
button {
    font-size: 15px;
    background-color: blueviolet;
    color: white;
    border-radius: 14px;
    padding: 10px
}
input {
    display: block
}
.nav {
    font-size: 30px;
}